################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudyPoint/StudyPoint/obj/Debug/DesignTimeResolveAssemblyReferences.cache
